<div class="leftbar"><div class="jumbotron">
<h1>Hi {{currentUser.firstname}}!</h1>
<app-uploadfile [userId]="currentUser.id" (onStatusChange)="childStatusChanged($event)"></app-uploadfile>
</div>
</div>
<!-- start-->

      <div class="card cas">
        <div class="card-body">
          <div class="card-title">
            <h3 class="text-center ">Документы</h3>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row h4">
                <div class="hoverfint col-2 rfont" >Действие
                    <span class='ml-1' class='pointer hoverfint-hidden' (click)="sorter('device')">
                      <i class='icon ion-md-funnel text-primary'></i>
                    </span>
                  </div>
              <div class="hoverfint col-3 rfont" >Номер документа
                <span class='ml-1' class='pointer hoverfint-hidden' (click)="sorter('device')">
                  <i class='icon ion-md-funnel text-primary'></i>
                </span>
              </div>
              <div class="hoverfint col-2 rfont">Дата
                <span class='ml-1' class='pointer hoverfint-hidden' (click)="sorter('location')">
                  <i class='icon ion-md-funnel text-primary'></i>
                </span>
              </div>
              <div class="hoverfint col-2 rfont">Название
                <span class='ml-1' class='pointer hoverfint-hidden' (click)="sorter('param')">
                  <i class='icon ion-md-funnel text-primary'></i>
                </span>
              </div>
              <div class="hoverfint col-3 rfont">Пояснение
                <span class='ml-1' class='pointer hoverfint-hidden' (click)="sorter('alarm')">
                  <i class='icon ion-md-funnel text-primary'></i>
                </span>
              </div>
  
            </div>
          </li>
          <li *ngFor='let file of documents; let i=index;'
            [ngClass]="  i % 2 == 0 ? 'list-group-item amb' : 'list-group-item'">
  
            <div class="row">

            <div class="col-2" [class.act]="isAct">
                <a (click)="deleteDocument(file.id)" *ngIf="edit!='yes' && currentUser.id==file.userId" class="text-danger btn"><i class="fa fa-download"></i> Delete</a>
                <br />
                <a (click)="edit='yes'; updateDocument(file.id); m=i;" *ngIf="edit!='yes' && currentUser.id==file.userId" class="text-danger btn"><i class="fa fa-refresh"></i> Update</a>
                <br />
                <a (click)=" downloadFile(file)" *ngIf="edit!='yes'" class="text-danger btn"><i class="fa fa-download"></i> Download</a>
            </div>
              <div class="col-3" [class.act]="isAct">{{file.number_document}}</div>
                
              <div class="col-2" [class.act]="isAct">{{file.date}}</div>
              <div class="col-2 rfont" [class.act]="isAct" >{{file.name}}</div>
              <div class="hoverfint col-3 rfont" [class.act]="isAct">{{file.note}}<span class='ml-1'
                  class='pointer hoverfint-hidden'>
                  <i class='icon ion-md-warning text-danger'></i>
                </span></div>
            </div>
            <div *ngIf="edit=='yes' && i==m"  class="row">

                <div class="col-2" [class.act]="isAct">
                    <a (click)="oneDoc.id=file.id; Save(oneDoc); edit='no'" class="text-danger">Save</a>
                    <br />
                </div>
                <div>
                    <input type="text" [(ngModel)]="oneDoc.name" placeholder="name document" />
                    <input type="text" [(ngModel)]="oneDoc.number_document" placeholder="number of document" />
                    <input type="text" [(ngModel)]="oneDoc.note" placeholder="note..."/> 
                    <input type="text" [(ngModel)]="oneDoc.date" placeholder="date..."/> 
                  </div>
                  <form [formGroup]="upform" >
                
                    <input type="file" name="document" (change)="onFileChange($event)" />
                
                  </form>
                </div>
          </li>
        </ul>
      </div>